./dadi/safs/essNAM_folded.saf.gz
./dadi/safs/GUA_ess_folded.saf.gz
./dadi/safs/GUA_folded.saf.gz
./dadi/safs/HAW_ess_folded.saf.gz
./dadi/safs/HAW_folded.saf.gz
./dadi/safs/NAM_ess_folded.saf.gz
./dadi/safs/NAM_ess_folded.saf.pos.gz
./dadi/safs/NAM_folded.saf.gz
./dadi/safs/NAM_folded.saf.pos.gz
./dadi/safs/ROT_ess_folded.saf.gz
./dadi/safs/ROT_folded.saf.gz
./fastsimcol2/slurm-19969085.out
.Rproj.user
.Rhistory
*.history
manuscript/Mol Ecol Submission/second submission/~$sponse to reviews Mol Ecol.docx
manuscript/Mol Ecol Submission/.DS_Store
scripts/.DS_Store
NGSadmix/full/.DS_Store
NGSadmix/.DS_Store
fastSTRUCTURE/.DS_Store
data/.DS_Store
dadi/results/old/folded_runs/.DS_Store
dadi/results/old/.DS_Store
dadi/results/.DS_Store
dadi/.DS_Store
.DS_Store
fastSTRUCTURE/.DS_Store
data/.DS_Store
.DS_Store
dadi/.DS_Store
