./DADI/GUA_folded.saf.gz
./DADI/GUA.saf.gz
./DADI/HAW_folded.saf.gz
./DADI/HAW.saf.gz
./DADI/NA_folded.saf.gz
./DADI/NA_folded.saf.pos.gz
./DADI/NA.saf.gz
./DADI/NA.saf.pos.gz
./DADI/safs/GUA_folded.saf.gz
./DADI/safs/GUA.saf.gz
./DADI/safs/HAW_folded.saf.gz
./DADI/safs/HAW.saf.gz
./DADI/safs/NA_folded.saf.gz
./DADI/safs/NA_folded.saf.pos.gz
./DADI/safs/NA.saf.gz
./DADI/safs/NA.saf.pos.gz
./NGSadmix/full/out_K10_r10.fopt.gz
./NGSadmix/full/out_K10_r1.fopt.gz
./NGSadmix/full/out_K10_r2.fopt.gz
./NGSadmix/full/out_K10_r3.fopt.gz
./NGSadmix/full/out_K10_r4.fopt.gz
./NGSadmix/full/out_K10_r5.fopt.gz
./NGSadmix/full/out_K10_r6.fopt.gz
./NGSadmix/full/out_K10_r7.fopt.gz
./NGSadmix/full/out_K10_r8.fopt.gz
./NGSadmix/full/out_K10_r9.fopt.gz
./NGSadmix/full/out_K11_r10.fopt.gz
./NGSadmix/full/out_K11_r1.fopt.gz
./NGSadmix/full/out_K11_r2.fopt.gz
./NGSadmix/full/out_K11_r6.fopt.gz
./NGSadmix/full/out_K11_r7.fopt.gz
./NGSadmix/full/out_K11_r8.fopt.gz
./NGSadmix/full/out_K11_r9.fopt.gz
./NGSadmix/full/out_K12_r10.fopt.gz
./NGSadmix/full/out_K12_r1.fopt.gz
./NGSadmix/full/out_K12_r2.fopt.gz
./NGSadmix/full/out_K12_r3.fopt.gz
./NGSadmix/full/out_K12_r4.fopt.gz
./NGSadmix/full/out_K12_r5.fopt.gz
./NGSadmix/full/out_K12_r6.fopt.gz
./NGSadmix/full/out_K12_r7.fopt.gz
./NGSadmix/full/out_K12_r8.fopt.gz
./NGSadmix/full/out_K12_r9.fopt.gz
./NGSadmix/full/out_K13_r10.fopt.gz
./NGSadmix/full/out_K13_r1.fopt.gz
./NGSadmix/full/out_K13_r2.fopt.gz
./NGSadmix/full/out_K13_r3.fopt.gz
./NGSadmix/full/out_K13_r4.fopt.gz
./NGSadmix/full/out_K13_r5.fopt.gz
./NGSadmix/full/out_K13_r6.fopt.gz
./NGSadmix/full/out_K13_r7.fopt.gz
./NGSadmix/full/out_K13_r8.fopt.gz
./NGSadmix/full/out_K13_r9.fopt.gz
./NGSadmix/monGLF.beagle.gz
./Raw_data/nomaf_raw_genotypes.geno
.RData
.Rhistory
.Rproj.user
.Ruserdata
